.login{
    height: 100vh;
    background-color:lavender;
    padding: 30px 15px !important;
    
}
.login-main{
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-align:center;
    margin-top:30px;
}
#username{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 2px whitesmoke;
}
#password{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 2px whitesmoke;
    margin-top: 12%;
}
button{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 2px green;
    margin-top: 12%;
    background-color: green;
    color: azure;
}