<div class="container-flex">
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <div class="login-main">Login</div>
      <form novalidate (ngSubmit)="onSubmit()" #f="ngForm" class="login">
        <input type="text" id="username" name="username" maxlength="10" minlength="10" placeholder="Phone Nunber"
          required [(ngModel)]="model.username" required #username="ngModel"
    
          [ngClass]="{
            'has-dangerr': username.invalid && (username.dirty || username.touched),
            'has-success': username.valid && (username.dirty || username.touched)
          }">
          <div class="form-control-feedback" *ngIf="username.errors && (username.dirty || username.touched)">
            <p *ngIf="username.errors.required">Username is required</p>
          </div>
        <input type="password" id="password" name="password" maxlength="15" minlength="8" placeholder="Password"
          required [(ngModel)]="model.password" required #password="ngModel"
    
          [ngClass]="{
            'has-dangerr': password.invalid && (password.dirty || password.touched),
            'has-success': password.valid && (password.dirty || password.touched)
          }">
          <div class="form-control-feedback" *ngIf="password.errors && (password.dirty || password.touched)">
            <p *ngIf="password.errors.required">Password is required</p>
          </div>
        <button type="submit" [disabled]="f.invalid"> Login</button>
      </form>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>