/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.form-control.has-danger , .has-dangerr{
border: 2px solid red !important;
}

.margin-top-15{
    margin-top: 15px !important;
}

.padding-0 {
    padding: 0px !important;
}

.margin-top-30 {
    margin-top: 30px;
}

.homeLogo {
    height: 30px;
}

.padding-left-right-15 {
    padding: 0 15px !important;
}